.partners{

  .knowledge{

    .image-container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 1.5rem;

      :is(img){
        height: 5.25rem;

        &:hover{
          transform: scale(1.05);
        }
      }
    }
  }
}