@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@300;400;700&display=swap');

:root {
  --sky-blue: #51DEF1;
  --light-yellow: #F7E11B;
  --maroon-red: #F64174;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}



.landing-section {
  height: 87vh;
  background: radial-gradient(256.32% 79.09% at 50% 50%, rgba(0, 0, 0, 0.65) 0%, rgba(0, 9, 15, 0.65) 38.85%, rgba(0, 82, 142, 0.65) 92.78%);
  color: white;
  border-radius: .75rem;
  margin: 3rem 1.5rem 0 1.5rem;
  background-blend-mode: multiply;
  overflow: hidden;
  position: relative;

  .flex-d-col {
    gap: 1.8rem;
  }

  .title {
    font-size: clamp(1rem, 0.1518rem + 2.7143vw, 2.1875rem) !important;
  }

  .home-container {
    margin-top: -12rem;
  }

  .image1 {
    width: 18%;
    object-fit: contain;
  }

  .image2 {
    object-fit: scale-down;
    width: 10%;
  }

  .logo-container {
    justify-content: space-between;
    height: 13rem;

  }

  .logo-background {
    background-color: white;
    border-radius: 100%;
  }

  .background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
  }

  /* :is(img) {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
  } */
}

.conference-details {
  width: 85%;
  margin: 0 auto;
  position: relative;
  bottom: 30px;
  border-radius: .5rem;

  .item {
    width: clamp(300px, 100%, 400px);
    padding: 1rem 1.5rem;
    display: flex;

    .left {
      font-size: 2rem;
      display: flex;
      align-items: center;
      padding-right: 1rem;
      color: white;
    }

    .right {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      padding-left: 1rem;
    }

    &:first-child {
      border-radius: .5rem 0 0 .5rem;
    }

    &:last-child {
      border-radius: 0 .5rem .5rem 0;
    }

    &:hover {
      transform: scale(1.05);
      cursor: default;
    }
  }

  .dates {
    background: rgba(245, 116, 107, 0.80);
    backdrop-filter: blur(5px);
    padding-left: 2rem;
  }

  .venue {
    background: rgba(98, 224, 65, 0.80);
    backdrop-filter: blur(5px);
    padding-left: 2rem;
  }

  .contact {
    background: rgba(82, 155, 245, 0.80);
    backdrop-filter: blur(5px);
    padding-left: 2rem;
  }
}

.objective {

  .objective-elements {
    width: 80%;
    margin: 0 auto;

    .item {
      margin: 1rem;
    }
  }
}

/* .about-college{
    background-image: url("./assets/campus.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.65);
    background-blend-mode: multiply;
    color: white;
  
    :is(a){
      color: white;
      text-decoration: underline;
    }
  } */

.register-section {
  background: radial-gradient(246.17% 68.38% at 50% 50%, rgba(0, 0, 0, 0.70) 0%, rgba(0, 44, 76, 0.70) 63.9%, rgba(0, 108, 185, 0.70) 99.69%);
  color: white;
  align-items: center;
  gap: 4rem;

  .font-36 {
    color: #00D1FF;
  }
}

.register,
.submit-paper {
  background-color: #F5F5F5;
  padding: .75rem 2rem;
  margin: .5rem 1rem;
  border-radius: .75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  font-weight: 300;
}

.register {
  color: #0999FF;
  border: 1px solid #0999FF;
  box-shadow: 0px 2px 4px 0px rgba(7, 120, 200, 0.40);

  &:hover {
    background-color: #0999FF;
    color: #F5F5F5;
  }
}

.submit-paper {
  color: #039903;
  border: 1px solid #039903;
  box-shadow: 0px 3px 4px 0px rgba(3, 153, 3, 0.40);

  &:hover {
    background-color: #039903;
    color: #F5F5F5;
  }
}


.padding-0-1 {
  padding: 0 1rem;
}

.padding-2-3 {
  padding: 2rem 3rem;
}

.padding-3-2 {
  padding: 3rem 2rem;
}

.font-rubic-mono {
  font-family: 'Rubik Mono One', monospace;
  letter-spacing: -1px;
}

.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-title {
  text-transform: uppercase;
}

.regular-bold {
  font-weight: 400;
}

.medium-bold {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 900;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.flex-d-col {
  display: flex;
  flex-direction: column;
}

.flex-a-cen {
  display: flex;
  align-items: center;
}

.flex-a-cen-j-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-a-cen-j-spbet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-j-cen {
  display: flex;
  justify-content: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.font-12 {
  font-size: 0.75rem;
}

.font-14 {
  font-size: 0.875rem;
}

.font-16 {
  font-size: 1rem;
}

.font-18 {
  font-size: 1.125rem
}

.font-20 {
  font-size: 1.25rem
}

.font-22 {
  font-size: 1.375rem
}

.font-24 {
  font-size: 1.5rem
}

.font-26 {
  font-size: 1.625rem
}

.font-28 {
  font-size: 1.75rem
}

.font-30 {
  font-size: 1.875rem
}

.font-36 {
  font-size: 2.25rem
}

.font-40 {
  font-size: 2.5rem;
}

.font-48 {
  font-size: 3rem
}

.font-56 {
  font-size: 3.5rem
}

.font-60 {
  font-size: 3.75rem;
}

@media screen and (max-width: 480px) {
  .padding-3-2 {
    padding: 2rem 1rem;
  }

  .font-20 {
    font-size: 1rem;
  }

  .font-24 {
    font-size: 1.25rem
  }

  .font-28 {
    font-size: 1.5rem;
  }

  .font-36 {
    font-size: 2rem;
  }

  .font-56 {
    font-size: 3rem;
  }
}