@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s;
}

.landing-section{
  
}

/* .about-conference{
  background-image: url("./assets/conference.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.65);
  background-blend-mode: multiply;
  color: white;
} */

.about-college{
  background-image: url("./assets/campus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.65);
  background-blend-mode: multiply;
  color: white;

  :is(a){
    color: white;
    text-decoration: underline;
  }
}

.register-section{
  background-color: #242424;
  color: white;

  .font-56{
    letter-spacing: 3px;
    line-height: 3.5rem;
  }
}

.register, .submit-paper{
  color: #242424;
  background-color: white;
  border: 1px solid white;
  padding: 1.25rem 2.5rem;
  margin: .5rem 1rem;
  border-radius: .75rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: 'Passion One', sans-serif;

  &:hover{
    background-color: #242424;
    color: white;
  }
}

.padding-0-1{padding: 0 1rem;}
.padding-3-2{padding: 3rem 2rem;}

.font-rubic-mono{font-family: 'Rubik Mono One', monospace; letter-spacing: -1px;}
.font-bebas{font-family: 'Bebas Neue', sans-serif;}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.text-justify{text-align: justify;}

.text-title{text-transform: capitalize;}

.regular-bold{font-weight: 400;}
.medium-bold{font-weight: 500;}
.semi-bold{font-weight: 600;}
.bold{font-weight: 700;}
.extra-bold{font-weight: 900;}

.cursor-pointer{cursor: pointer;}

.flex{display: flex;}
.flex-d-col{display: flex; flex-direction: column;}
.flex-a-cen{display: flex; align-items: center;}
.flex-a-cen-j-cen{display: flex; align-items: center; justify-content: center;}
.flex-a-cen-j-spbet{display: flex; align-items: center; justify-content: space-between;}
.flex-j-cen{display: flex; justify-content: center;}
.flex-wrap{display: flex; flex-wrap: wrap;}

.font-12{font-size: 0.75rem;}
.font-14{font-size: 0.875rem;}
.font-16{font-size: 1rem;}
.font-18{font-size: 1.125rem}
.font-20{font-size: 1.25rem}
.font-22{font-size: 1.375rem}
.font-24{font-size: 1.5rem}
.font-26{font-size: 1.625rem}
.font-28{font-size: 1.75rem}
.font-30{font-size: 1.875rem}
.font-36{font-size: 2.25rem}
.font-40{font-size: 2.5rem;}
.font-48{font-size: 3rem}
.font-56{font-size: 3.5rem}
.font-60{font-size: 3.75rem;}

@media screen and (max-width: 480px) {
  .padding-3-2{padding: 2rem 1rem;}

  .font-20{font-size: 1rem;}
  .font-24{font-size: 1.25rem}
  .font-28{font-size: 1.5rem;}
  .font-36{font-size: 2rem;}
}